.idea
ignores
node_modules
dist
coverage
.vite
playwright-report
test-results
.DS_Store
*.swp
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/tests/**/*.js
packages/*/tests/**/*.js.map
packages/*/tests/**/*.d.ts
